@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@font-face {
  font-family: SUITE Variable;
  src: url("/font/SUITE-Variable.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-feature-settings: "ss17", "ss18", "tnum";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }

  select {
    color: rgb(var(--background-rgb));
  }
}

body {
  font-family: "SUITE Variable", "SUITE", "NanumSqaure Neo", "Noto Sans KR", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  word-break: keep-all;
}

a {
  text-decoration: underline;
}

footer a {
  display: inline-block;
}
