@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@font-face {
    font-family: SUITE Variable;
    src: url("/font/SUITE-Variable.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-feature-settings: "ss17", "ss18", "tnum";
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }

    select, input {
        color: rgb(var(--background-rgb));
    }

    .shadow-lg {
        background: rgb(55 65 81);
    }
}

body {
    font-family: "SUITE Variable", "SUITE", "NanumSqaure Neo", "Noto Sans KR", sans-serif;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    word-break: keep-all;
}

a {
    text-decoration: underline;
}

footer a {
    display: inline-block;
}

.plain-btn, .plain-btn-link {
    @apply border-b-2 border-slate-300 dark:border-slate-400 hover:bg-slate-100 hover:dark:bg-slate-600 dark:bg-slate-800 rounded-sm p-2;
}

.plain-btn-link {
    text-decoration: none;
}

.menu-item {
    @apply block rounded-md px-2 py-1 hover:bg-slate-200 w-full hover:dark:bg-slate-600 dark:bg-slate-800 no-underline;
}